body {
    background-image: url("Rainbow.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3 {
    color: black;
    font-family: Helvetica;
}

.Red, .Orange, .Yellow, .Green, .Blue, .Purple, .Black, .White {
    height: 350px;
}